
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/home.css">
    <title> BawaLand | Home </title>

    
</head>
<body>

        <!-- Tob Navbar  -->
        <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
                <span class="nav-head"> Bawa<span class="nav-span">Land</span></span>
        </nav>

        <div class="main-wrapper">
            <div class="form-heading">
                <span class="nav-head-black"> What's On Your <span class="nav-span"> Mind ?</span></span>
            </div>
            <div class="pos-note-section">
                <div class="post-note-form"> 
                    <form action="/postNote" method="POST">
                        <div class="form-group">
                                <label class="exampleInputEmail">Note's Title</label>
                                <input name="title" type="text" class="form-control"  aria-describedby="emailHelp" placeholder=" Title">
                                 <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label class="exampleInputPassword">Note</label>
                                <textarea name="note" type="text" class="form-control"  placeholder="Password"> Post Note Here </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <% if (notesW) { %>
                <div class="form-heading">
                    <span class="nav-head-black"> Loading  <span class="nav-span"> Notes ...</span></span>
                </div>
                <% notesW.forEach( function (item) { %>
            <div class="load-notes">
                
                <div class="note">
                    <div class="note-title">
                       <%= item.title %>
                    </div>
                    <div class="note-text"> 
                        <%= item.note %> 
                    </div>
                </div>
                <% }); %>
                
            </div>
            <% } else { %>
                <div>
                    No Notes to display | <%= notes %>
                </div>
            <% } %>    

        </div>


        
</body>
</html>